<!-- lnb -->
<div class="lnb">
    <div class="lnb__tit">마이페이지</div>
    <!-- lnbMenu -->
    <div class="lnb__wrap">
        <ul class="lnb__list">
            <li class="lnb__item <%= lnbTitle === '주문배송조회' && 'is-active' %>">
                <a href="" class="lnb__link">
                    <span class="lnb__line">주문배송조회</span>
                </a>
            </li>
            <li class="lnb__item <%= lnbTitle === '취소/반품' && 'is-active' %>">
                <a href="" class="lnb__link">
                    <span class="lnb__line">취소/반품</span>
                </a>
            </li>
            <li class="lnb__item <%= lnbTitle === '쿠폰' && 'is-active' %>">
                <a href="" class="lnb__link">
                    <span class="lnb__line">쿠폰</span>
                </a>
            </li>
            <li class="lnb__item <%= lnbTitle === '적립금' && 'is-active' %>">
                <a href="" class="lnb__link">
                    <span class="lnb__line">적립금</span>
                </a>
            </li>
            <li class="lnb__item <%= lnbTitle === '상품 리뷰' && 'is-active' %>">
                <a href="" class="lnb__link">
                    <span class="lnb__line">상품 리뷰</span>
                </a>
            </li>
            <li class="lnb__item <%= lnbTitle === 'Wish List' && 'is-active' %>">
                <a href="" class="lnb__link">
                    <span class="lnb__line">Wish List</span>
                </a>
            </li>
        </ul>
        <ul class="lnb__list">
            <li class="lnb__item <%= lnbTitle === '1:1 문의' && 'is-active' %>">
                <a href="" class="lnb__link">
                    <span class="lnb__line">1:1 문의</span>
                </a>
            </li>
            <li class="lnb__item <%= lnbTitle === '상품 Q&A' && 'is-active' %>">
                <a href="" class="lnb__link">
                    <span class="lnb__line">상품 Q&A</span>
                </a>
            </li>
            <li class="lnb__item <%= lnbTitle === '재입고 알림 내역' && 'is-active' %>">
                <a href="" class="lnb__link">
                    <span class="lnb__line">재입고 알림 내역</span>
                </a>
            </li>
            <li class="lnb__item <%= lnbTitle === '이벤트 참여현황' && 'is-active' %>">
                <a href="" class="lnb__link">
                    <span class="lnb__line">이벤트 참여현황</span>
                </a>
            </li>
        </ul>
        <ul class="lnb__list">
            <li class="lnb__item <%= lnbTitle === '회원정보수정' && 'is-active' %>">
                <a href="" class="lnb__link">
                    <span class="lnb__line">회원정보수정</span>
                </a>
            </li>
            <li class="lnb__item <%= lnbTitle === '비밀번호 변경' && 'is-active' %>">
                <a href="" class="lnb__link">
                    <span class="lnb__line">비밀번호 변경</span>
                </a>
            </li>
            <li class="lnb__item <%= lnbTitle === '배송지 관리' && 'is-active' %>">
                <a href="" class="lnb__link">
                    <span class="lnb__line">배송지 관리</span>
                </a>
            </li>
            <li class="lnb__item <%= lnbTitle === '회원 탈퇴' && 'is-active' %>">
                <a href="" class="lnb__link">
                    <span class="lnb__line">회원 탈퇴</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- .lnbMenu -->
</div>
<!-- .lnb -->