<!-- lnb -->
<div class="lnb">
    <div class="lnb__tit">고객센터</div>
    <!-- lnbMenu -->
    <div class="lnb__wrap">
        <ul class="lnb__list">
            <li class="lnb__item <%= lnbTitle === '공지사항' && 'is-active' %>" >
                <a href="" class="lnb__link">
                    <span class="lnb__line">공지사항</span>
                </a>
            </li>
            <li class="lnb__item <%= lnbTitle === 'FAQ' && 'is-active' %>">
                <a href="" class="lnb__link">
                    <span class="lnb__line">FAQ</span>
                </a>
            </li>
            <li class="lnb__item <%= lnbTitle === '1:1문의하기' && 'is-active' %>">
                <a href="" class="lnb__link">
                    <span class="lnb__line">1:1문의하기</span>
                </a>
            </li>
            <li class="lnb__item <%= lnbTitle === 'MEMBERSHIP' && 'is-active' %>">
                <a href="" class="lnb__link">
                    <span class="lnb__line">MEMBERSHIP</span>
                </a>
            </li>
            <li class="lnb__item <%= lnbTitle === '상품리뷰' && 'is-active' %>">
                <a href="" class="lnb__link">
                    <span class="lnb__line">상품리뷰</span>
                </a>
            </li>
            <li class="lnb__item <%= lnbTitle === 'STORES' && 'is-active' %>">
                <a href="" class="lnb__link">
                    <span class="lnb__line">STORES</span>
                </a>
            </li>
            <li class="lnb__item <%= lnbTitle === '대량구매/입점문의' && 'is-active' %>">
                <a href="" class="lnb__link">
                    <span class="lnb__line">대량구매 / 입점문의</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- .lnbMenu -->
</div>
<!-- .lnb -->